<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="app" class="enter.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileLogger"/>
    </bean>

    <bean id="client" class="beans.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="Kirk Brown"/>
    </bean>

    <bean name="event" class="events.Event" scope="prototype">
        <constructor-arg value="Event injection"/>
        <constructor-arg>
            <bean class="java.time.LocalDateTime" factory-method="now"/>
        </constructor-arg>
    </bean>

    <import resource="loggers.xml"/>

</beans>