<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean name="app" class="enter.App">
        <constructor-arg ref="combinedLogger"/>
        <constructor-arg>
            <map>
                <entry key="INFO" value-ref="fileLogger"/>
                <entry key="ERROR" value-ref="consoleLogger"/>
            </map>
        </constructor-arg>
    </bean>


    <bean name="event" class="beans.Event" scope="prototype">
        <constructor-arg value="Event injection"/>
        <constructor-arg>
            <bean class="java.time.LocalDateTime" factory-method="now"/>
        </constructor-arg>
    </bean>

    <import resource="loggers.xml"/>
    <import resource="clients.xml"/>



</beans>